.orchids {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orchids:before,
.orchids:after {
    box-sizing: border-box;
}
.orchids-page,
.orchids-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
.orchids-dialog {
    z-index: 2;
}
/* animation */
.orchids-page.orchids-with-animation,
.orchids-dialog.orchids-with-animation {
    transition: all .5s;
    opacity: 0;
}
.orchids-page.orchids-with-animation.orchids-active,
.orchids-dialog.orchids-with-animation.orchids-active {
    opacity: 1;
}
.orchids-page.orchids-horizontal,
.orchids-dialog.orchids-horizontal {
    transform: translateX(100%);
}
.orchids-page.orchids-horizontal.orchids-active,
.orchids-dialog.orchids-horizontal.orchids-active {
    transform: translateX(0);
}
.orchids-page.orchids-vertical,
.orchids-dialog.orchids-vertical {
    transform: translateY(100%);
}
.orchids-page.orchids-vertical.orchids-active,
.orchids-dialog.orchids-vertical.orchids-active {
    transform: translateY(0);
}

/* fragment */
.orchids-fragment {
    position: absolute;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
.orchids-fragment.orchids-horizontal {
    top: 0;
    height: 100%;
}
.orchids-fragment.orchids-vertical {
    left: 0;
    width: 100%;
}
.orchids-fragments-container {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}
.orchids-fragments-container.orchids-with-animation {
    transition: all .5s;
}
.orchids-fragments-container.orchids-horizontal {
    height: 100%;
    transform: translateX(0);
}
.orchids-fragments-container.orchids-vertical {
    width: 100%;
    transform: translateY(0);
}