<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"
    />
    <title>Demo</title>
  </head>
  <body>
    <button id="action-1" style="position: relative;top: 100px;z-index: 10;">
      Action 1
    </button>
    <button id="action-2" style="position: relative;top: 100px;z-index: 10;">
      Action 2
    </button>
    <button id="action-3" style="position: relative;top: 100px;z-index: 10;">
      Action 3
    </button>
    <button id="action-4" style="position: relative;top: 100px;z-index: 10;">
      Action 4
    </button>
    <button id="action-5" style="position: relative;top: 100px;z-index: 10;">
      Action 5
    </button>
    <button style="position: fixed; top: 50%; right: 0; z-index: 1000;">
      Back
    </button>
  </body>
</html>
